<nav class="navbar navbar-toggleable-md fixed-top navbar-light bg-faded nav-styles">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Contractz</a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/documents" routerLinkActive="active">Docs</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-outline-primary"  id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proposals
        </a>
        <div class="dropdown-menu dropdown-links" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/proposals" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Proposals</a>
          <a class="dropdown-item" routerLink="/proposals/new" routerLinkActive="active">New Proposal</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="app-body">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="navbar fixed-bottom navbar-light bg-faded nav-styles">
    <p style="text-align:center;">Developed with Ruby on Rails and Angular 4 by <a href="http://kwoye.me">Kenyada Ijiwoye</a></p>
  </div>
</footer>
